<div class="row">
    <div class="col-sm-4 col-12 col-md-3">
<prodect-filter [catogry]="catogry"></prodect-filter>
    </div>
    <div  class="col-sm-8 col-12  col-md-9">
      <div class="row m-auto">
        <ng-container *ngFor="let prodects of filtarCatogry;let i= index">
             <div class="col-12 col-lg-6   mt-2 mb-2">
              <prodect-cart [prodect]='prodects' [shopingCArt]="cart$"></prodect-cart>
            </div>
            <div *ngIf="(i + 1) % 2 ==0" class="w-100"></div>
        </ng-container>
      </div>  
    </div>
</div>
