                                       
<div class="mt-2 mb-2" class="card" style="width: 18rem; ">
  <img [src]="prodect.payload.val().imgUrl" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{prodect.payload.val().title}}</h5>
    <h6 class="card-title">{{prodect.payload.val().category}}</h6>
    <p class="card-text">{{prodect.payload.val().price | currency:'USD':true}}</p>
     
  </div>
  <div class="">
    <a *ngIf="appUser ==null else login" routerLink="login"> 
        <button   class="btn btn-primary btn-block">add to cart</button>
    </a>
   <ng-template #login>
     <button  *ngIf="gitcountity() === 0;else itemChange" (click)="addCart()" class="btn btn-primary btn-block">add to cart</button>
    <ng-template #itemChange> 
      <div class="row">
        <div class="col-3"><button (click)="removeCart()" class="btn btn-danger btn-block">-</button>  </div>
        <div class="col" ><h5 class="text-center" >{{gitcountity()}}</h5></div>
        <div class="col-3"> <button  (click)="addCart()"  class="btn btn-success btn-block">+</button> </div>

      </div>
    </ng-template> 
   </ng-template>
   
    
  </div>
</div>
